/* Home.css */

.container {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 80vh; /* Занимаем полную высоту окна */
    text-align: center; /* Выравнивание текста по центру */
}

.hero {
    max-width: 600px; /* Ограничиваем ширину содержимого */
}

h1 {
    font-size: 2.5rem; /* Увеличиваем размер заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

p {
    font-size: 1.5rem; /* Увеличиваем размер текста параграфа */
    margin-bottom: 20px; /* Отступ снизу */
}

.button-link {
    display: inline-block;
    padding: 15px 30px; /* Увеличиваем отступ для кнопки */
    background-color: #007BFF; /* Цвет кнопки */
    color: white; /* Цвет текста */
    text-align: center; /* Центрируем текст внутри кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Скругляем углы кнопки */
    font-size: 1.2rem; /* Увеличиваем размер текста кнопки */
    transition: background-color 0.2s; /* Плавный переход при наведении */
}

.button-link:hover {
    background-color: #0056b3; /* Темнее цвет кнопки при наведении */
}


.img-my-foto {
    width: 180px;
    border-radius: 15px;
    margin-bottom: 10px;
}